.btn{
    display: block;
    width: fit-content;
    background-color: var(--highlight);
    font-size: 14px;
    padding: 14px 34px;
    border: none;
    border-radius: 5px;
    color: var(--body-normal);
    white-space: nowrap;
    &:hover{
        transition: var(--transition);
        background: var(--btn-hover);
    }
}